.svgOverlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  pointer-events: none;
}

.lines {
  stroke-width: 2;
  stroke: #000;
  z-index: 2;
}

.svgLabels{
  font-family: Arial;
  font-size: 14px;
  font-weight: bold;
}

#app {
  display: flex;
  flex: 1; /* Take up remaining height */
  overflow: hidden;
  background: #c9c9c9;
}

#left-column {
  padding: 0;
  display: flex;
  flex-direction: column;
  margin: 10px 25px;
  height: 100%;
  align-items: center;
  z-index: 1;
}

.powerSupply-box {
  display: flex;
  flex-direction: column;
  background: white;
  align-items: center;
  padding: 20px;
  border: 2px solid #000;
  border-radius: 12px;
  height: 80px;
  margin: 50px 0 20px 0px;
  width: 165px;
  z-index: 1;
}

#speedControl {
  display: flex;
  flex-direction: column;
  background: white;
  align-items: center;
  justify-content: space-around;
  padding: 15px;
  border: 2px solid #000;
  border-radius: 12px;
  height: 350px;
  margin: 5px 0px;
  width: 215px;
  z-index: 1;
}

.speedControlLabel {
  font-size: 14px;
  font-weight: bold;
}

.percetangeBox{
  border: 2px solid #000;
  padding: 10px;
  border-radius: 6px;
  width: 65px;
  text-align: center;
}

#knobPercentage{
  margin: 0;
}

.knob-img {
  width: 105px;
}


#center-column {
  padding: 0;
  display: flex;
  flex-direction: row !important;
  margin: 10px 25px 10px 0;
  width: 575px;
  height: 100%;
  align-items: baseline;
  justify-content: space-evenly;
}


#center-column div p{
  text-align: center;
  font-weight: bold;
}

.toggle-img{
  width: 40px;
  rotate: -90deg;
}

.toggle1-img{
  width: 40px;
  rotate: 90deg;
}

#switchLabel{
  font-size: 12px;
  font-weight: bold;
  width: 25%;
  text-align: center;
}

#switch-box{
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  border: 2px solid #000;
  border-radius: 12px;
  width: 195px;
  height: 55px;
  margin-top: 15px;
  
}

#direction-box{
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  border: 2px solid #000;
  border-radius: 12px;
  width: 195px;
  height: 55px;
}


#switchCircuit-box{
  background-color: white;
  border: 2px solid #000;
  border-radius: 12px;
  padding: 10px;
  margin: 10px 0 0 0;
  height: 50px;
  z-index: 0;
}

#switchCircuitLabel {
  font-size: 14px;
  margin: 0;
}




#current-box {
  position: absolute;
  top: 335px;
  left: 335px;
  background-color: white;
  border: 2px solid #000;
  border-radius: 12px;
  padding: 10px;
  margin: 22px 0;
  color: black;
  z-index: 1;
}

#currentLabel, #voltageLabel{
  font-weight: bold;
  margin: 0;
}

#voltage-box {
  position: absolute;
  top: 405px;
  left: 280px;
  background-color: white;
  border: 2px solid #000;
  border-radius: 12px;
  padding: 10px;
  margin: 20px 0;
  color: black;
  z-index: 1;
}

.tire-img{
  width: 265px;
  margin: 0 0 10px 0;
}

#motor-box {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 2px solid #000;
  border-radius: 12px;
  width: 30%;
  height: 350px;
  justify-content: center;
  align-items: center;
  margin-left: 715px;
}

.motorLabel {
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 5px;
}

.rpm-container{
  border: 2px solid #000;
  padding: 10px;
  border-radius: 6px;
  width: 80px;
  text-align: center;
}

#rpm{
  margin: 0;
}

@keyframes rotateTire {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.rotating {
  animation: rotateTire 1s linear infinite;
}

#circuitMotor {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 2px solid #000;
  border-radius: 12px;
  width: 205px;
  height: 205px;
  justify-content: center;
  align-items: center;
  z-index: 0;
}

.motor-img{
  position: absolute;
  height: 350px;
  bottom: 15px;
  left: 270px;
  /* width: 165px; */
  /* margin: 0 0 10px 0; */
}

#right-column {
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 585px;
  margin: 10px 10px 10px 0;
  width: 100%;
  justify-content: space-between;
  z-index: 1;
}

#powerButton {
  font-size: 18px;
  padding: 10px 20px;
  background: white;
  border: 2px solid red;
  color: red;
  border-radius: 8px;
  box-shadow: 4px 2px 7px black;

}

#chart-section {
  display: flex;
  background-color: white;
  border: 2px solid #000;
  border-radius: 12px;
  width: 1000px;
  padding: 15px;
}

#graphSwitch{
  position: absolute;
  border: 0;
  padding: 5px 10px;
  background: #007BFF;
  color: white;
  border-radius: 5px;
  margin-top: -5px;
  cursor: pointer;
}

.light-img {
  width: 50px;
  height: auto;
  display: block;
  margin: auto -5px;
  rotate: 90deg;
}

#lightImgOn{
  position: absolute;
  opacity: 0;
}

.light {
  display: flex;
  background: white;
  text-align: center;
  width: 85px;
  height: 85px;
  border: 2px solid;
  color: black;
  border-radius: 50%;
}
#pwm-chart-container1, #pwm-chart-container2, #pwm-chart-container3  {
  display: none;
}

#voltage-chart-container, #current-chart-container, #power-chart-container, #pwm-chart-container1, #pwm-chart-container2, #pwm-chart-container3 {
  width: 33%;
  height: 180px;
  flex: 2;
}

#load-section{
  height: 360px;
  width: 100%;
  /* border: 2px solid #000; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.loads{
  display: flex;
  width: 35%;
  align-items: center;
  justify-content: space-between;
  margin-top: 65px;
}

