.svgOverlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  pointer-events: none;
}

.lines {
  stroke-width: 2;
  stroke: #000;
  z-index: 2;
}

.svgLabels{
  font-family: Arial;
  font-size: 14px;
  font-weight: bold;
}

#left-column {
  padding: 0;
  display: flex;
  flex-direction: column;
  margin: 10px 25px;
  height: 100%;
  align-items: center;
  z-index: 1;
}

.powerSupply-box {
  display: flex;
  flex-direction: column;
  background: white;
  align-items: center;
  padding: 20px;
  border: 2px solid #000;
  border-radius: 12px;
  height: 80px;
  margin: 50px 0 35px 0px;
  width: 165px;
  z-index: 1;
}

#speedControl {
  display: flex;
  flex-direction: column;
  background: white;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  border: 2px solid #000;
  border-radius: 12px;
  height: 320px;
  margin: 5px 0px;
  width: 200px;
  z-index: 1;
}

.speedControlLabel {
  font-weight: bold;
}

.percetangeBox{
  border: 2px solid #000;
  padding: 10px;
  border-radius: 6px;
  width: 65px;
  text-align: center;
}

#knobPercentage{
  margin: 0;
}

.knob-img {
  width: 120px;
}


#center-column {
  padding: 0;
  display: flex;
  flex-direction: column;
  margin: 10px 25px 10px 65px;
  height: 100%;
  align-items: center;
}


#center-column div p{
  text-align: center;
  font-weight: bold;
}

.toggle-img{
  width: 65px;
  height: 100px;
  rotate: -90deg;
}

#switchLabel{
  font-size: 14px;
  width: 25%;
}

#switch-box{
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  border: 2px solid #000;
  border-radius: 12px;
  width: 290px;
  height: 170px;
  
}


#switchCircuit-box{
  background-color: white;
  border: 2px solid #000;
  border-radius: 12px;
  padding: 10px;
  margin: 10px 0 0 0;
  height: 50px;
  z-index: 0;
}

#switchCircuitLabel {
  font-size: 14px;
  margin: 0;
}

#current-box {
  background-color: white;
  border: 2px solid #000;
  border-radius: 12px;
  padding: 10px;
  margin: 22px 0;
  color: black;
  z-index: 1;
}

#currentLabel, #voltageLabel{
  font-weight: bold;
  margin: 0;
}

#voltage-box {
  background-color: white;
  border: 2px solid #000;
  border-radius: 12px;
  padding: 10px;
  margin: 20px 0;
  color: black;
}

.tire-img{
  width: 265px;
  margin: 0 0 10px 0;
}

#motor-box {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 2px solid #000;
  border-radius: 12px;
  width: 45%;
  height: 350px;
  justify-content: center;
  align-items: center;
}

.motorLabel {
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 5px;
}

.rpm-container{
  border: 2px solid #000;
  padding: 10px;
  border-radius: 6px;
  width: 65px;
  text-align: center;
}

#rpm{
  margin: 0;
}

@keyframes rotateTire {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.rotating {
  animation: rotateTire 1s linear infinite;
}

#circuitMotor {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 2px solid #000;
  border-radius: 12px;
  width: 205px;
  height: 205px;
  justify-content: center;
  align-items: center;
  z-index: 0;
}

.motor-img{
  width: 165px;
  margin: 0 0 10px 0;
}

#right-column {
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 585px;
  margin: 10px 10px 10px 0;
  width: 100%;
  justify-content: space-between;
  z-index: 1;
}

#powerButton {
  font-size: 18px;
  padding: 10px 20px;
  background: white;
  border: 2px solid red;
  color: red;
  border-radius: 8px;
  box-shadow: 4px 2px 7px black;

}

#battery-parameters {
  display: flex;
  background-color: white;
  border: 2px solid #000;
  border-radius: 12px;
  width: 640px;
  padding: 15px;
}

.light-img {
  width: 50px;
  height: auto;
  display: block;
  margin: auto -5px;
  rotate: 90deg;
}

#lightImgOn{
  position: absolute;
  opacity: 0;
}

.light {
  display: flex;
  background: white;
  text-align: center;
  width: 85px;
  height: 85px;
  border: 2px solid;
  color: black;
  border-radius: 50%;
}


.chart-container {
  width: 33%;
  height: 180px;
  flex: 2;
}
#voltage-chart{
  height: 200px;
}

#load-section{
  height: 360px;
  width: 100%;
  /* border: 2px solid #000; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.loads{
  display: flex;
  width: 35%;
  align-items: center;
  justify-content: space-between;
  margin-top: 65px;
}