@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

@keyframes fadeInFromBottom {
  from {
      bottom: -40px;
      opacity: 0;
  }
  to {
      bottom: 40px;
      opacity: 1;
  }
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh; /* Ensure full height */
  overflow: hidden;
  user-select: none;
  transform: scale(calc(100vw / 1920))
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  color: black;
  /* padding: 10px; */
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.left-header {
  background: white;
  display: flex;
  align-items: center;
  padding: 10px;
  border-right: 1px solid #000; /* Right border for company name */
  margin-left: 50px /* Right border for company name */
}

#header-logo, #header-title, #header-company {
  font-size: 18px;
  font-weight: bold;
  flex: 1;
}

#header-logo {
  height: 55px;   
  object-fit: contain;
  margin-left: -50px; /* Pushes all other elements to the right */
}

#header-title {
  flex-grow: 1;
  text-align: center;
  margin-left: 20px; /* Space between border and title */
  font-size: 1.5vw;
}

#header-company {
  font-size: 16px;
  width: 280px;
  margin-left: -30px;
  margin-right: 10px; /* This will push the company name to the right */
}

.back-btn {
  position: absolute;
  width: 20px;
  left: 415px;
  top: 20px;
  background: white;
  padding: 8px;
  border-radius: 50%;
  border: 2px solid black;
  transition: 0.2s ease-in-out;
}

.back-btn:hover {
  filter: invert(1);
  border: 2px solid white;
}

#sim-title{
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  position: absolute;
  bottom: 90px;
  z-index: 1;
  font-size: 20px;
  left: 50%;
  transform: translateX(-50%);
  color: #000f0c;
}


#sim-start{
  animation-name: fadeInFromBottom;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  position: absolute;
  bottom: 40px;
  z-index: 1;
  left: 50%;
  text-decoration: none;
  color: #000f0c;
  font-weight: bold;
  font-size: 14px;
  transform: translateX(-50%);
  padding: 10px 50px;
  border: 2px solid #000f0c;
  border-radius: 24px;
  transition: 0.2s ease-in-out;
}

#sim-start:hover{
  background: #000f0c;
  color: white;

}




#logo {
  animation-name: fadeIn;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  position: absolute;
  height: 50px;
  top: 20px;
  right: 20px;
  z-index: 1;
}

.sims-container {
  margin-top: 450px;
  margin-left: 20px;
  z-index: 1;
}

.simLinkButton {
  background: #007BFF;
  border: none;
  color: white;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  font-size: 16px;
  cursor: pointer;
}


.banner-container{
  animation-name: fadeIn;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  position: absolute;
  height: 105%;
  z-index: 0;
  margin: 0 auto;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
}

.banner-container img{
  height: 100%;
}

#app {
  display: flex;
  flex: 1; /* Take up remaining height */
  overflow: hidden;
  background: #c9c9c9;
  justify-content: space-between;
}


#app > div {
  display: flex;
  flex-direction: column;
}